.navigation {
  background-color: var(--color-black);
  z-index: 1000;
  color: var(--color-white);
  padding: 1.6rem 0;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  top: 0;

  &__logo {
    color: var(--color-accent);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    text-transform: uppercase;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }
}