.hero {
  background-color: var(--color-black);
  text-transform: uppercase;
  color: var(--color-accent);
  padding: 15rem 0 10rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    line-height: 0.9;
    font-size: 7rem;
    margin-bottom: 4rem;

    &--white {
      color: var(--color-white);
    }
  }

  &__subtext {
    color: var(--color-accent);
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  &__video {
    width: 100%;
  }
}

.about {
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 5rem 0;

  &__heading {
    text-transform: uppercase;
    font-size: 3.6rem;
    text-align: center;
    padding: 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 3rem;
  }
}

.how {
  padding: 4rem;
  background-color: var(--color-black);
  color: var(--color-white);

  &__grid {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.cta {
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 5rem 0;

  &__container {
    padding: 5rem;
    background-color: var(--color-gray);
  }
}