$theme-colors: (
        'dark': #222831,
        'secondary': #393E46,
        'primary': #00ADB5
);
@import '~bootstrap/scss/bootstrap';

.height-control {
  min-height: 100vh;
}
:root {
  --color-black: #222831;
  --color-gray: #393E46;
  --color-white: #EEEEEE;
  --color-accent: #00ADB5;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  //font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}